extends layouts/layout
block content   
    form(action="/login" method="post") 
        input(type="text" name="username" placeholder="Username")
        input(type="password" name="password" placeholder="Password")
        button(type="submit" id='submit') Log in
        if message
            p= message