doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
            rel="stylesheet")
        title Setting
    body 
        include layouts/sidebar
        h1(style='text-align:center') Nothing
        script(src="/js/sidebar.js") 
