ul.list-circle
    li#btn-volt 
        span.circle.circle-volt
        |Volt
    li#btn-amp 
        span.circle.circle-amp
        |Amp
    li#btn-power 
        span.circle.circle-power
        |Power