.sidebar
    .logo-details
        .logo  
            .logo-name Solar Tracking
        i#btn.bx.bx-menu
    ul.list-nav
        li
            a(href='/')
                i.bx.bx-grid-alt
                span.links_name Dashboard
            span.tooltip Dashboard
        li
            a(href='#')
                i.bx.bx-user
                span.links_name User
            span.tooltip User
        li
            a(href='#')
                i.bx.bx-chat
                span.links_name Messages 
            span.tooltip Messages
        li
            a(href='#')
                i.bx.bx-pie-chart-alt-2
                span.links_name Analytics
            span.tooltip Analytics
        li.item-day
            a(href='/day')
                i.bx.bx-time-five
                span.links_name Day
            span.tooltip Day
        li.item-month
            a(href='/month')
                i.bx.bxs-hourglass
                span.links_name Month
            span.tooltip Month
        li.item-hour
            a(href='/hour')
                i.bx.bx-heart
                span.links_name Hour
            span.tooltip Hour
        li
            a(href='#')
                i.bx.bx-cog
                span.links_name Setting
            span.tooltip Setting
   
