.sidebar.active
    .logo-details
        .logo
            .logo-name Solar Tracker
        i#btn.bx.bx-menu
    ul.list-nav
        li
            a(href='/')
                i.bx.bx-grid-alt
                span.links_name Dashboard
            span.tooltip Dashboard
        li.item-hour
            a(href='/hour')
                i.bx.bx-line-chart
                span.links_name Hour
            span.tooltip Hour
        li.item-day
            a(href='/day')
                i.bx.bx-time-five
                span.links_name Day
            span.tooltip Day
        li.item-month
            a(href='/month')
                i.bx.bxs-hourglass
                span.links_name Month
            span.tooltip Month
        li
            a(href='/setting')
                i.bx.bx-cog
                span.links_name Setting
            span.tooltip Setting
        li
            a(href='logout')
                i.bx.bx-log-out
                span.links_name Logout
            span.tooltip Logout
